# Node modules
/node_modules

# build output
/build

# local .env file
.env
.env.local

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dependencies
.npm
.yarn-cache

# miscellaneous
.DS_Store
.vscode/
*.tgz
.eslintcache

mongo-init.js